@font-face { font-family: Lausanne; src: url('data/Lausanne-300.woff2');}
@font-face { font-family: Founders Regular-Italic; font-style: italic; src: url('data/Lausanne-300Italic.woff2');}

  /* ------------------------------------------------------------------------------------ */
  /* Landing Page */
  .drag-list {
    /* position: absolute;
    top: 0;
    left: 0; */
    /* width: 100vw; */
    /* height: 100%; */
    overflow-x: hidden;
    overflow-y: auto;

    display: grid;
    grid-template-columns: 1em repeat(10, calc((100% - 2em) / 10)) 1em;
    grid-gap: 0;
    /* grid-auto-rows: 1em minmax(1em, 10%); */
    grid-template-rows: 3em repeat(40, 2.5em);
    min-width: 0;
    min-height: 0;
  }

  .drag {
    /* position: absolute; */
    /* max-height: 20%; */
    /* height: auto; */
    /* width: auto; */
    /* display: inline-block; */
    /* line-height: 0; */
    opacity: 0;
    transition: transform .8s ease-in-out, opacity .8s ease-out;
    will-change: transform, opacity;
  }

  .drag > img {
    /* height: 100%; */
    /* max-width: auto; */
    /* max-height: 10em; */
    /* object-fit: cover; */
    max-width: 100%;
    line-height: 0;
    /* max-height: 100%; */
  }

  .drag.is-visible {
    opacity: 1;
    transform: translateY(-.3em);
  }

  .drag >img:hover {
    cursor: grab;
  }

  .drag > img:active {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
    cursor: grabbing;
  }

  .drag > p {
    font-size: 0.6em;
    margin: 0;
    padding: 0;
    max-width: 50%;
  }

  .landing-title {
    padding: 1em 0 0 1em;
    background-color: rgba(255,255,255,0);
    width: auto;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  /* ---------------------------------------------------------------------------------------------------- */
  /* Images */

  .img1 {
    grid-column: 2 / span 4;
    grid-row-start: 3;
  }

  .img2 {
    grid-column: 9 / span 3;
    grid-row-start: 2;
  }

  .img3 {
    grid-column: 7 / span 4;
    grid-row-start: 4;
  }

  .img4 {
    grid-column: 3 / span 4;
    grid-row-start: 9;
  }

  .img5 {
    grid-column: 6 / span 3;
    grid-row-start: 10;
  }

  .img6 {
    grid-column: 2 / span 4;
    grid-row-start: 15;
  }

  .img7 {
    grid-column: 5 / span 4;
    grid-row-start: 21;
  }

  .img8 {
    grid-column: 3 / span 6;
    grid-row-start: 25;
  }

  .img9 {
    grid-column: 9 / span 3;
    grid-row-start: 28;
  }

  .img10 {
    grid-column: 8 / span 3;
    grid-row-start: 27;
  }

  .img11 {
    grid-column: 2 / span 4;
    grid-row-start: 32;
  }

  /* ---------------------------------------------------------------------------------------------------- */
  /* Queries */
  /* between 200 and 700 */
  @media (min-width: 200px) and (max-width: 700px) {


  /* ---------------------------------------------------------------------------------------------------- */
  /* between 700 and 900 */
  @media (max-width: 900px) {

    .drag-list {
      overflow-x: hidden;

      display: grid;
      grid-template-columns: 1em repeat(4, calc((100% - 2em) / 4)) 1em;
      grid-template-rows: 3em repeat(20, 2.5em);
    }

    .img1 {
      grid-column: 3 / span 3;
      grid-row-start: 3;
    }

    .img2 {
      grid-column: 2 / span 2;
      grid-row-start: 2;
    }

    .img3 {
      grid-column: 2 / span 3;
      grid-row-start: 6;
    }

    .img4 {
      grid-column: 3 / span 3;
      grid-row-start: 8;
    }

    .img5 {
      grid-column: 2 / span 2;
      grid-row-start: 11;
    }

    .img6 {
      grid-column: 3 / span 3;
      grid-row-start: 12;
    }

    .img7 {
      grid-column: 2 / span 3;
      grid-row-start: 15;
    }

    .drag > p {
      font-size: 0.7em;
      margin: 0;
      padding: 0;
      max-width: 80%;
    }
  }

  /* ---------------------------------------------------------------------------------------------------- */
  /* between 900 and 1800 */
  @media (min-width: 901px) and (max-width: 1800px) {

  }
