@font-face { font-family: Founders Regular; src: url('data/FoundersGrotesk-Regular.woff2');}
@font-face { font-family: Founders Regular-Italic; font-style: italic; src: url('data/FoundersGrotesk-RegularItalic.woff2');}

body {
  font-family: Founders Regular;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1;
  background-color: #cccccc;
  margin: 0;
  overflow: auto;
  color: #000000;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  margin:0;
  padding:0;
  font-size: 18px;
}

ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

button {
  /* clear default */
  text-decoration: none;
  border: none;
  outline: none;
  margin: 0;
  cursor: pointer;

  /* add h4 styles */
  font-family: Founders Regular;
  font-weight: lighter;
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  padding: 0 0.5em 0 0;

  /* sticky */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #cccccc;
  min-width: 100%;

  z-index: 10;
}

/* TYPOGRAPHY */
/* ------------------------------------------------------------------------------- */
h4 {
  font-family: Founders Regular;
  font-weight: lighter;
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  padding: 0.05em 0.5em 0 0;

  z-index: 10;
}

p {
  font-family: Founders Regular;
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

a {
  /* same as p */
  font-family: Founders Regular;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.15;
  margin: 0;
  padding: 0;

  /* link styling */
  text-decoration: underline;
  color: black;
  outline: 0;
  border: 0;
}

a:link {
  text-decoration: underline;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

::-moz-selection {
  background: #146200;
  color: black;
}

::selection {
  background: #146200;
  color: black;
}

/* LAYOUT */
/* ------------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* holds the columns */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

/* two equal columns next to each other */
.column {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  overflow-y: scroll;
}

.text{
  padding: 0 0 2em 2em;
  margin-top: 2em;
}

.image {
  /* padding: 2em 2em 2em 0; */
  padding: 0 2em 2em 0;
  margin-top: 2em;
}

.image ul li img {
  max-width: 100%;
  min-width: 80%;
  padding-bottom: 2em;
  border: none;
  outline: none;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.2s ease-out;
  transition: -webkit-filter 0.2s ease-out;
  transition: filter 0.2s ease-out;
  transition: filter 0.2s ease-out, -webkit-filter 0.2s ease-out;
}

.image ul li img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: -webkit-filter 0.2s ease-out;
  transition: -webkit-filter 0.2s ease-out;
  transition: filter 0.2s ease-out;
  transition: filter 0.2s ease-out, -webkit-filter 0.2s ease-out;
}

/* TOP MARGIN */
.top-margin {
  width: 100%;
  height: 2rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 0;
}

/* COLLAPSIBLE */
/* ------------------------------------------------------------------------------- */
.content {
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  max-height: 0;
  /* -webkit-transition: max-height 0.3s ease-in-out; */
  transition: max-height 1s ease-in-out;
}

.content > p {
  padding: 0 3em 1em 0;
}

.content > p:first-child {
  padding: 1em 3em 1em 0;
}

.content > p.q {
  padding: 0 3em 1em 1em;
}

.active, .collapsible:hover {
  color: #146200;
}

/* SCROLLBAR */
/* ------------------------------------------------------------------------------- */
/* TODO: cross browser support */
.text::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

/* FIGURES*/
/* ------------------------------------------------------------------------------- */

/* QUERIES */
/* ---------------------------------------------------------------------------------------------------- */
/* between 200 and 700 */
@media (min-width: 200px) and (max-width: 700px) {
  body {
    height: auto;
  }

/* LAYOUT */
  .row {
    display: block;
    height: auto;
  }

  .text {
    padding: 0 2em .5em 2em;
    margin-top: 2rem;

    /* keeps it sticky */
    display: table;
  }

  .image {
    padding: 0 2em 2em 2em;
    margin-top: 0;
  }

  .image ul li img {
    padding-bottom: 1em;
  }

/* TYPOGRAPHY */
  h4 {
    font-size: 2em;
    line-height: 1;
    padding: 0.05em 0 0 0;

    position: -webkit-sticky;

    position: sticky;
    top: 0;
    z-index: 10;
  }

  p {
    font-size: 1.2em;
    line-height: 1.15;
    padding: 0;
  }

  button {
    font-size: 2em;
    line-height: 1;
    padding: 0;

    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    z-index: 10;
  }

  .content > p {
    padding: 0 0 1em 0;
  }

  .content > p:first-child {
    padding: 1em 0;
  }

/* TOP MARGIN */
  .top-margin {
    background-color: #cccccc;
    z-index: 5;
    height: 2.5rem;
  }

/* SCROLLBAR */
  /* TODO: cross browser support */
  .image::-webkit-scrollbar {
      width: 0px;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
  }

}

/* ---------------------------------------------------------------------------------------------------- */
/* between 700 and 900 */
@media (min-width: 701px) and (max-width: 900px) {
  body {
    height: auto;
  }

/* LAYOUT */
  .row {
    display: block;
    height: auto;
  }

  .text {
    padding: 0 2em .5em 2em;
    margin-top: 2rem;

    /* keeps it sticky */
    display: table;
  }

  .image {
    padding: 0 2em 2em 2em;
    margin-top: 0;
  }

  .image ul li img {
    padding-bottom: 1em;
  }

/* TYPOGRAPHY */
  h4 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  button {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    z-index: 10;
  }

  .content > p {
    padding: 0 0 1em 0;
  }

  .content > p:first-child {
    padding: 1em 0;
  }

/* TOP MARGIN */
  .top-margin {
    background-color: #cccccc;
    z-index: 5;
    height: 2.5rem;
  }

/* SCROLLBAR */
  /* TODO: cross browser support */
  .image::-webkit-scrollbar {
      width: 0px;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
  }
}

/* ---------------------------------------------------------------------------------------------------- */
/* between 900 and 1800 */
@media (min-width: 901px) and (max-width: 1800px) {
/* TOP MARGIN */
  .top-margin {
    background-color: #cccccc;
    z-index: 5;
    height: 2.1em;
  }
}
