@font-face { font-family: Lausanne; src: url('data/Lausanne-300.woff2');}
@font-face { font-family: Founders Regular-Italic; font-style: italic; src: url('data/Lausanne-300Italic.woff2');}

body {
  font-family: Lausanne, sans-serif;
  font-weight: 300;
  font-size: 26px;
  /* line-height: 1; */
  background-color: #fff;
  margin: 0;
  overflow: auto;
  color: #000000;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  margin:0;
  padding:0;
  font-size: 26px;
}

ul, li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  /* clear default */
  text-decoration: none;
  border: none;
  outline: none;
  margin: 0;
  cursor: pointer;

  /* add h1 styles */
  font-family: Lausanne, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1;
  text-align: left;
  padding: 0;
  padding-bottom: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* sticky */
  position: sticky;
  top: 3em;
  /* background-color: #fff; */
  background: linear-gradient(rgba(255,255,255,1), 95%, rgba(255,255,255,0));
  min-width: 100%;

  /* z-index: 10; */
  display: block;
  -webkit-transition: padding-bottom 0.5s ease-in-out;
  transition: padding-bottom 0.5s ease-in-out;
}

/* ------------------------------------------------------------------------------------ */
/* Typography */
p, h1, h2, h3, h4, h5, h6, a {
  font-family: Lausanne, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* line-height: 1; */
}

h1, h2 {
  white-space: pre-line;
  font-size: 1em;
  margin: 0;
  line-height: 1;
  /* position: sticky;
  top: 0; */
}

h3 {
  white-space: pre-line;
  font-size: 1rem;
  margin: 0;
  line-height: 1;
}

p {
  font-size: .7em;
  max-width: 80%;
}

.content > p {
  hyphens: none;
  margin: 0;
  padding-bottom: 1.5em;
}

.content > p:last-child {
  padding-bottom: 2em;
}

.grey {
  color: #bbb;
}

/* ------------------------------------------------------------------------------------ */
/* Image vs Text */
button.toggle {
  font-size: 1rem;
  position: static;
  background: rgba(255, 255, 255, 0);
  display: inline;
  vertical-align: top;
  padding: 0;
  margin: 0;
  min-width: 0;
}

a.toggle {
  font-size: 1rem;
  line-height: 1;
  color: #000;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.toggle-menu {
  position: fixed;
  top: 1em;
  right: 1em;
}

/* ------------------------------------------------------------------------------------ */
/* Layout */
.wrapper {
  width: 100%;
  height: 100%;
  /* padding: 1em; */
}

/* holds the columns */
.row {
  display: flex;
  height: 100%;
}

/* two equal columns next to each other */
.column {
  overflow-y: auto;
}

.text {
  flex: 50%;
  padding: 1em 0 1em 1em;
}

.image {
  flex: 50%;
  padding: 1em 1em 0 0;
}

.title {
  height: 4em;
  width: calc(50% - 1em);
  position: fixed;
  top: 0;
  padding-top: 1em;
  padding-left: 1em;
  background-color: #fff;
  z-index: 10;
}

.text > ul {
  padding-top: 3em;
}

.image-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* .image ul li {
  line-height: 0;
  flex-basis: 20%;
  padding: 0 .5em 0 0;
} */

.image ul li img {
  max-width: 100%;
  /* max-width: calc(100% - 1em); */
  min-width: 80%;

  padding-bottom: 1em;
  border: none;
  outline: none;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.2s ease-out;
  transition: -webkit-filter 0.2s ease-out;
  transition: filter 0.2s ease-out;
  transition: filter 0.2s ease-out, -webkit-filter 0.2s ease-out;
}

.image ul li img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: -webkit-filter 0.2s ease-out;
  transition: -webkit-filter 0.2s ease-out;
  transition: filter 0.2s ease-out;
  transition: filter 0.2s ease-out, -webkit-filter 0.2s ease-out;
}

.image ul li:first-child {
  /* padding-top: 1em; */
}

/* ------------------------------------------------------------------------------------ */
/* Collapsible */
.content {
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  max-height: 0;
  will-change: max-height;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.text::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

/* ------------------------------------------------------------------------------------ */
/* Maps */
button.coor {
  font-size: .7em;
  position: static;
  line-height: 1.15;
}

#field-list {
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  display: none;
}

/* ------------------------------------------------------------------------------------ */
/* Footnotes */
  #footnote-wrapper li {
    padding: 1em;
  }

  #footnote-wrapper {
    background-color: #146200;
    background-color: #008000;
    /* background-color: #e3e3e3; */
    width: 100%;
  }

  /* ---------------------------------------------------------------------------------------------------- */
  /* Queries */
  /* between 200 and 700 */
  @media (min-width: 200px) and (max-width: 700px) {

  /* LAYOUT */
    .row {
      display: block;
      height: auto;
    }

    .text {
      /* keeps it sticky */
      display: table;
    }

    .image {
      padding: 0 1em 0 1em;
      z-index: 8;
      position: relative;
    }

    .image ul li img {
      max-width: 100%;
      min-width: 100%;
    }

    .title {
      background: linear-gradient(rgba(255,255,255,1), 95%, rgba(255,255,255,0));
      padding: 1em;
      height: auto;
      width: 100%;
      z-index: 10;
    }

    .text > ul {
      padding-top: 3em;
    }

    .flat-header {
      background-color: #fff;
      position: fixed;
      top: 0;
      height: 4em;
      width: 100%;
      z-index: 5;
    }

  /* Typography */
    h4 {

    }

    p {
      z-index: 1;
    }

    button {
      top: 4em;
      z-index: 8;
    }

  /* MAPS */
    #field-list {
      height: 50vh;
    }

    button.coor:last-child {
      padding: 0 0 1em 0;
    }

  }

  /* ---------------------------------------------------------------------------------------------------- */
  /* between 700 and 900 */
  @media (max-width: 900px) {

  /* Layout*/
    .row {
      display: block;
      height: auto;
    }

    .text {
      /* keeps it sticky */
      display: table;
      padding: 1em 1em 0 1em;
    }

    .image {
      flex: 100%;
      padding: 1em 1em 0 1em;
      line-height: 0;
    }

    .image ul li img {
      padding-bottom: 1em;
    }

    .title {
      height: 4em;
      width: 100%;
    }

    .content > p {
      hyphens: auto;
    }

    p {
      max-width: 100%;
    }

  /* Maps */
    #field-list {
      height: 50vh;
    }

    button.coor:last-child {
      padding: 0 0 1em 0;
    }
  }

  /* ---------------------------------------------------------------------------------------------------- */
  /* between 900 and 1800 */
  @media (min-width: 901px) and (max-width: 1800px) {

  }
